@model EntityLayer.Concrete.Cinema
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-2">
        @using (Html.BeginForm("Update", "Cinema", FormMethod.Post))
        {

            @Html.HiddenFor(x => x.CinemaId, new { @class = "form-control" })
            <br />
            <label><b>Cinema Logo</b></label>
            @Html.TextBoxFor(x => x.CinemaLogo, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CinemaLogo, " ", new { @class = "text-danger" })
            <br />
            <div class="form-group text-center">
                <img class="rounded-circle" src="@Html.DisplayTextFor(x=>x.CinemaLogo)" style="width:150px;height:150px" alt="" />
            </div>
            <br />
            <label><b>Cinema Name</b></label>
            @Html.TextBoxFor(x => x.CinemaName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CinemaName, " ", new { @class = "text-danger" })
            <br />
            <label><b>Cinema Description</b></label>
            @Html.TextAreaFor(x => x.CinemaDescription, 10, 3, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CinemaDescription, " ", new { @class = "text-danger" })
            <br />
            <div class="form-group">
                <button class="btn btn-outline-warning float-right">Update</button>
                <a asp-action="Index" class="btn btn-outline-info">Cancel</a>
            </div>

        }
    </div>
</div>
