@model EntityLayer.Concrete.Actor
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-8 offset-2">
        @using (Html.BeginForm("Update", "Actor", FormMethod.Post))
        {

            @Html.HiddenFor(x => x.ActorId, new { @class = "form-control" })
            <br />
            <label><b>Actor Photo</b></label>
            @Html.TextBoxFor(x => x.ActorPhoto, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ActorPhoto, "", new { @class = "text-danger" })
            <div class="form-group text-center">
                <img class="rounded-circle" src="@Html.DisplayTextFor(x=>x.ActorPhoto)" style="width:150px;height:150px" alt="" />
            </div>
            <br />
            <label><b>Actor Name</b></label>
            @Html.TextBoxFor(x => x.ActorName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ActorName, "", new { @class = "text-danger" })
            <br />
            <label><b>Actor Biyography</b></label>
            @Html.TextAreaFor(x => x.ActorBio, 10, 3, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ActorBio, "", new { @class = "text-danger" })
            <br />
            <div class="form-group">
                <button class="btn btn-outline-warning float-right">Update</button>
                <a asp-action="Index" class="btn btn-outline-info">Cancel</a>
            </div>

        }
    </div>
</div>


